
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");


body,
html {
  
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --topBarColor: rgba(26, 26, 26, 0.377);
  --topBarBorderColor: rgba(255, 255, 255, 0.048);
  --darker: rgb(10, 10, 10);
  --dark: rgb(20, 20, 20);
  --lessdark: rgb(36, 36, 36);
  --light: rgb(235, 235, 235);
  --subTextColor: rgb(54, 54, 54);
  --accent1: rgb(24, 204, 120);
  --accent1Darker:rgb(32, 177, 87);
  --accent1Btn: rgba(9, 119, 86, 0.521);
  --accent2: rgb(255, 255, 255);
  --lessonLocked: rgb(41, 41, 41);
  --lessonComplete: rgb(13, 156, 77);
  --lessonInComplete: rgb(12, 175, 85);
  --transitionAnim : "none";
  --correctAnswer: rgb(27, 143, 75);
  --wrongAnswer: rgb(202, 52, 41);

  --red: rgb(224, 56, 44);
  --blue:rgb(20, 165, 248);
  --teal: rgb(32, 189, 163);
  --darkTeal: rgb(27, 143, 75);
  --tealGreen : rgb(17, 199, 108);
  --darkTealGreen: rgb(27, 143, 75);
  --green: rgb(12, 175, 85);
  --darkGreen : rgb(12, 143, 71);


  --white : rgb(230, 230, 230);
  --grey: rgb(185, 185, 180);
  --darkGrey: rgb(133, 133, 133);
  --charcoal: rgb(21, 21, 21);
  --lightCharcoal:rgb(25, 25, 25);
  --lightestCharcoal: rgb(32, 32, 32);
  --darkCharcoal:rgb(17, 17, 17);

  background-color: var(--white);
  color :var(--charcoal);
  text-wrap: wrap;

  scrollbar-color: rgb(255, 255, 255, 0.2) transparent;
  scrollbar-width: 7px; margin:0; border:0; padding:0;
}
html{
  margin:0; border:0; padding:0;
  scroll-behavior: smooth;
 
  overflow-y: scroll;
}
main {
  min-height: calc(100vh - 22em);
}
header {
  margin:0;
  border:0;
  position:fixed;
  box-sizing: border-box;
  background:var(--white);
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding : 2em;
  padding-left: 1em;
  padding-right: 1em;
}
footer{
  margin:0;
  margin-top: 5em;
  border:0;
  bottom:0;
  box-sizing: border-box;
  background:var(--charcoal);
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding : 2em;
  padding-top:3em; padding-bottom:3em;
}
.footerBtn{
  color:var(--white);
  font-size: 1.5em;
  
}
button {
  border:0; cursor: pointer;
  padding:0; margin:0;
  background:transparent;
  font-size: 2em;
  font-weight: 600;
}
.headerBtn {
  font-size: 1em;
  font-weight: 400;
}

.trackingPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Optional: to ensure the container takes the full viewport height */
  padding: 0 20px; /* Optional: to add some padding */
  width: 100%;
}

.trackingSide, .nutritionalSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.emptyProgressBar {
  width: 100%;
  height: 30px; 
  background-color: #e0e0e0; 
  border-radius: 5px; 
  overflow: hidden; 
  position: relative;
}

.filledProgressBar {
  height: 100%;
  background-color: #76c7c0; 
  border-radius: 5px 0 0 5px; 
  position: absolute;
  top: 0;
  left: 0;
}

.trackingSide {
  justify-content: center;
}

.nutritionalSide {
  justify-content: center;
}

.loginBtn {
  font-size: 1em;
  background-color: var(--charcoal);
  border-radius: 0.3em;
  color: var(--white);
  padding:0.5em;
  padding-left:1em;
  padding-right:1em;
}
.generalButton{
  font-size: 1em;
  background-color: var(--charcoal);
  border-radius: 0.3em;
  color: var(--white);
  padding:0.6em;
  padding-left:1em;
  padding-right:1em;
  margin-bottom: 1.5em;
}
section {
  width:100vw;
  height:fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding:0;
  
}

.sectionContentRight{
  margin:0;
  padding:0;
  padding-left: 1em;
}
.sectionContentLeft{
  margin:0;
  padding:0;
  padding-left: 1em;
}
.showcaseImage{
  order:1;
  width:fit-content;
  height:25em;
  border-radius: 2em;
}
.heading {
  font-size: 3em;
  max-width: 95%;
}
.subHeading {
  font-weight: 400;
  max-width: 90%;
}
#headerTitle {
  font-size: 1.5em;
  display: none;
}
@media only screen and (min-width: 500px) {
  #headerTitle{
    display: block;
  }
}


@media only screen and (min-width: 1024px) {
  .showcaseImage{
    order:auto;
  }
  .sectionContentRight{
    margin:0;
    margin-right: 2em;
  }
  .sectionContentLeft{
    margin:0;
    margin-left: 2em;
    order:0;
  }
  header {
    
    padding : 2em;
    padding-left: 4em;
    padding-right: 4em;
  }
  .headerBtn {
    font-size: 1.5em;
  }
  .subHeading {
    
    max-width: 95%;
  }
  .generalButton {
    font-size: 1em;
    padding:0.5em;
    padding-left:1.2em;
    padding-right:1.2em;
  }
  .loginBtn {
    font-size: 1em;
    padding:0.5em;
    padding-left:1.2em;
    padding-right:1.2em;
  }
  #headerTitle {
    font-size: 2em;
    
  }
  section {
    
    align-items: center;
    justify-content: space-between;
    padding:0;
    padding-left:3em;
    padding-right:3em;
    flex-direction: row;
  }
}