@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --progressBarsDefault : rgb(218, 198, 246);
    --progressBarsFill : rgb(46, 9, 102);
    --dashboardBackground : rgb(248, 248, 248);
    --dashboardHeader : rgb(244, 244, 244);
    --dashboardFooter : white;
    --dashboardCardColor: white;
    --dashboardBorders : #e6e6e6;
    --dashboardMainTxtColor : black;
    --dashboardSubTxtColor : rgb(119, 119, 119);

    --statusGood : green;
    --statusOk : orange;
    --statusBad : red;
}

body,
html {
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  border: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: wrap;
  overscroll-behavior: none;
  scrollbar-color: rgb(255, 255, 255, 0.2) transparent;
  scrollbar-width: 7px; margin:0; border:0; padding:0;
}
html{
  margin:0; border:0; padding:0;
  scroll-behavior: smooth;
  overflow-y: scroll;

}
main {
  min-height: 100vh;
}
